//Created by Adrian on 23/5/15.
extends layout
block content
   div.container(style='text-align: center')
      div.row
         div.span5.offset2
             h1(style= 'marginBottom: 20px;') User: #{user.name} #{user.firstsurname}
             br
             br
             ul(class="list-group")
                 li(class="list-group-item") #[b Email:] #{user.email}
                 li(class="list-group-item") #[b Name:] #{user.name}
                 li(class="list-group-item") #[b First surname:] #{user.firstsurname}
                 li(class="list-group-item") #[b Second surname:] #{user.secondsurname}
                 li(class="list-group-item") #[b Age:] #{user.age}
                 li(class="list-group-item") #[b City:] #{user.city}
                 li(class="list-group-item") #[b Country:] #{user.country}
                 li(class="list-group-item") #[b Administration:] #{user.administration}
                 li(class="list-group-item") #[b Measurements insertions:] #{user.totalinsertions}
             form(method="post",action='/users/#{user._id}')
                 input(type='hidden',name='_method',value='delete')
                 a.btn.btn-primary.btn-large(type='submit',style='margin-top:40px;',href='/users/#{user._id}') Delete user
             a.btn.btn-primary.btn-large(style='margin-top:40px;margin-left:20px;',href='/users/#{user._id}/edit') Edit user
             a.btn.btn-primary.btn-large(style='margin-top:40px;margin-left:20px;',href='/users/#{user._id}/measurements') Edit user